$tittle_font_weight: 600;
$text_font_weight: 300;

.web_app_serv_tittles {
    position: relative;
    background-color: #EBEBED;
    display: grid;
    grid-template-columns: 4fr 1fr;
    .empty_block {
        border-right: 0.01px solid rgb(200, 200, 200);
    }
    .get_in_touch_button {
        display: flex;
        border-right: 0.01px solid rgb(200, 200, 200);
        height: 100%;
        background-color: rgb(255, 238, 0);
        .btn_text {
            margin-top: 40px;
            margin-left: 30px;
            white-space: nowrap;
            font-weight: 500;
        }
        .img_wrapper {
            position: relative;
            width: 30px;
            margin-top: 40px;
            .get_in_touch_arr {
                position: relative;
                margin-top: 5px;
                width: 20px;
                height: 20px;
                rotate: 45deg;
                border-top: 3px solid black;
                border-right: 3px solid black;
            }
        }
    }
    .get_in_touch_button:hover {
        cursor: pointer;
        background-color: rgb(100, 0, 131);
        .btn_text {
            color: white;
        }
        .img_wrapper {
            .get_in_touch_arr {
                border-top: 3px solid rgb(255, 255, 255);
                border-right: 3px solid rgb(255, 255, 255);
            }
        }
    }
    .text_tittle {
      .tittle {
        font-weight: $tittle_font_weight;
        font-size: 30px;
        margin-left: 50px;
        margin-top: 50px;
      }
      .text {
        font-weight: $text_font_weight;
        margin-left: 30%;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 20px;
        max-width: 800px;
      }
      @media only screen and (max-width: 700px) {
        .text {
            font-weight: $text_font_weight;
            margin-left: 10%;
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 20px;
            max-width: 400px;
        }
        .tittle {
            font-weight: $tittle_font_weight;
            font-size: 30px;
            margin-left: 20px;
            margin-top: 50px;
          }
      }
    }
}
.get_in_touch {
    position: relative;
    .noteBook_photo_wrapper {
        height: 400px;
        .noteBook_photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.web_services {
    position: relative;
    background-color: #EBEBED;
    .services_tittle_wrapper {
        height: 100px;
        .serv_tittle {
            position: relative;
            margin-left: 100px;
            margin-top: 30px;
            font-weight: $tittle_font_weight;
        }
    }
    .servisec_wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .service {
            border-top: 0.005px solid rgb(200, 200, 200);
            border-left: 0.005px solid rgb(200, 200, 200);
            padding-bottom: 10px;
            min-height: 150px;
            .service_tittle {
                position: relative;
                margin-bottom: 20px;
                margin-left: 20px;
                margin-top: 15px;
                font-weight: 400;
            }
            .service_text {
                position: relative;
                margin-left: 20px;
                font-size: 14px;
                font-weight: $text_font_weight;
                .services_link {
                    border-bottom: 1px solid black;
                }
                .services_link:hover {
                    cursor: pointer;
                }
            }
        }
    }
}