<header class="header">
    <div class="logo_link" (click)="goHome()">
        <p class="logo_img">DEVMARA</p>
    </div>
    <div class="tablet_menu_btn" [ngClass] = "{'rotate': showTabletMenu}" (click)="showBurger()">
        <img src="assets/Burger_icon.png" alt="tablet_btn" class="burger_icon">
    </div>
    <nav class="navigation">
        <ul class="nav_list">
            <li class="nav_element">
                <div class="nav_tittle_container">
                    <span class="nav_tittle">What we do </span>
                    <div class="img_container">
                        <img class="arr_img" src="./assets/arr.png" alt="arr">
                    </div>
                </div>
                <div class="drop_container">
                    <div class="mirr"></div>
                    <div class="menu_containers">
                        <div class="containers">
                            <div class="services_container">
                                <span class="servises_tittle">Services</span>
                                <div class="servisec_list">
                                    <a class="servise_name pointer" (click)="goToWeb()">Web development</a>
                                    <span class="servise_name pointer">Mobile app development</span>
                                    <span class="servise_name pointer">Software development for startups</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav_element pointer">Portfolio</li>
            <li class="nav_element pointer">Insights</li>
            <li class="nav_element pointer">About us</li>
            <li class="nav_element contact_us" (click)="goToInTouch()">Contact us</li>
        </ul>
    </nav>
    <section class="tablet_menu" [ngClass]= "{'show_Menu': showTabletMenu}">
        <ul class="nav_list">
            <li class="nav_element">
                <div class="nav_tittle_container">
                    <span class="nav_tittle">What we do </span>
                    <div class="img_container">
                        <img class="arr_img" src="./assets/arr.png" alt="arr">
                    </div>
                </div>
                <div class="drop_container">
                    <div class="menu_containers">
                        <div class="containers">
                            <div class="container">
                                <span class="nav_tittle">Services</span>
                                <div class="servisec_list">
                                    <span (click)="goToWeb()" class="servise_name pointer">Web development</span>
                                    <span class="servise_name pointer">Mobile app development</span>
                                    <span class="servise_name pointer">Software development for startups</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav_element">
                <div class="nav_tittle_container">
                    <span class="nav_tittle">Portfolio </span>
                </div>
            </li>
            <li class="nav_element">
                <div class="nav_tittle_container">
                    <span class="nav_tittle">Insights </span>
                </div>
            </li>
            <li class="nav_element">
                <div class="nav_tittle_container">
                    <span class="nav_tittle">About us </span>
                </div>
            </li>
            <li class="nav_element contact_us">
                <div (click)="goToInTouch()" class="nav_tittle_container">
                    <span class="nav_tittle">Contact us </span>
                </div>
            </li>
        </ul>
    </section>
</header>