@media only screen and (min-width: 780px) {
    .footer {
        position: relative;
        height: 200px;
        display: flex;
        text-align: center;
        gap: 10%;
        background-color: #29292B;
        z-index: 0;
        .container {
            position: relative;
            width: 250px;
            margin-top: 30px;
            margin-left: 10%;
            .logo {
                position: relative;
                text-align: left;
                color: rgb(164, 164, 164);
            }
            .addreses {
                position: relative;
                color: white;
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .navigation {
            position: relative;
            height: 150px;
            width: 100px;
            top: calc(50% - 75px);
            padding-left: 15px;
            border-left: 0.3px solid grey;
            .nav_list {
                position: relative;
                display: flex;
                height: 100%;
                flex-direction: column;
                gap: 20px;
                .nav_element {
                    position: relative;
                    display: flex;
                    color: white;
                    list-style-type: none;
                }
            }
        }
        .contacts {
            position: relative;
            display: flex;
            top: calc(50% - 75px);
            height: 150px;
            width: 300px;
            border-left: 0.3px solid grey;
            flex-direction: column;
            justify-content: space-around;
            gap: 30px;
            .webs {
                position: relative;
                display: flex;
                justify-content: space-around;
                gap: 10px;
                .web {
                    position: relative;
                    width: 30px;
                    .web_img {
                        position: relative;
                        width: 100%;
                    }
                }
            }
            .email_privasy_politics {
                position: relative;
                display: flex;
                gap: 10px;
                flex-direction: column;
                .link {
                    position: relative;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 779px) {
    .footer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #29292B;
        z-index: 0;
        .container {
            position: relative;
            margin: 15px auto 20px auto;
            width: 70%;
            .logo {
                position: relative;
                text-align: center;
                margin-bottom: 20px;
                color: white;
            }
            .addreses {
                position: relative;
                width: 100%;
                display: flex;
                color: white;
                justify-content: space-around;
            }
        }
        .navigation {
            position: relative;
            margin: 0 auto 10px auto;
            height: 150px;
            width: 300px;
            top: calc(50% - 75px);
            padding-top: 15px;
            border-top: 0.3px solid grey;
            .nav_list {
                position: relative;
                display: flex;
                height: 100%;
                flex-direction: column;
                gap: 20px;
                .nav_element {
                    position: relative;
                    display: flex;
                    color: white;
                    width: 100%;
                    list-style-type: none;
                    justify-content: center;
                }
            }
        }
        .contacts {
            position: relative;
            display: flex;
            margin: 0 auto 10px auto;
            height: 150px;
            width: 300px;
            border-top: 0.3px solid grey;
            flex-direction: column;
            justify-content: space-around;
            gap: 30px;
            .webs {
                position: relative;
                display: flex;
                justify-content: space-around;
                gap: 10px;
                .web {
                    position: relative;
                    width: 30px;
                    .web_img {
                        position: relative;
                        width: 100%;
                    }
                }
            }
            .email_privasy_politics {
                position: relative;
                display: flex;
                gap: 10px;
                flex-direction: column;
                .link {
                    position: relative;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.link:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.nav_element:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo:hover {
    cursor: pointer;
}