<footer class="footer">
    <section class="container">
        <h1 class="motivation">LET'S WORK</h1>
        <div class="addreses">
            <div class="adress_container">
                <h5 class="country_name">POLAND</h5>
                <p class="addres">Warshaw</p>
                <p class="addres">Street 41, 222</p>
            </div>
            <div class="adress_container">
                <h5 class="country_name">UNITED KINGDOM</h5>
                <p class="addres">LONDON</p>
                <p class="addres">Street 123, 432</p>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="email_privasy_politics">
            <a class="link" href="">OAO&#64;opg.solnishko</a>
            <a class="link" href="">Privacy politics</a>
        </div>
        <div class="webs">
            <a class="web_link" href=""><div class="web"><img class="web_img" src="assets/inst.png" alt="inst"></div></a>
            <a class="web_link" href=""><div class="web"><img class="web_img" src="assets/faceBook.png" alt="faceBook"></div></a>
            <a class="web_link" href=""><div class="web"><img class="web_img" src="assets/youTube.png" alt="YouTube"></div></a>
            <a class="web_link" href=""><div class="web"><img class="web_img" src="assets/linkeedin.png" alt="LinkedIn"></div></a>
        </div>
    </section>
</footer>
