<main class="main">
    <section class="advantages">
      <div class="advantages_wrapper">
        <div class="advantages_text_container">
          <h1 class="advantages_tittle">{{ advantages[position].name }}</h1>
          <p class="advantages_text">{{ advantages[position].text }}</p>
        </div>
        <div class="control_panel">
          <div class="control_button" [ngClass]="{'active': advantages[0].active, 'non_active': !advantages[0].active}" (click)="changeCard($event)">01</div>
          <div class="control_button" [ngClass]="{'active': advantages[1].active, 'non_active': !advantages[1].active}" (click)="changeCard($event)">02</div>
          <div class="control_button" [ngClass]="{'active': advantages[2].active, 'non_active': !advantages[2].active}" (click)="changeCard($event)">03</div>
          <div class="control_button" [ngClass]="{'active': advantages[3].active, 'non_active': !advantages[3].active}" (click)="changeCard($event)">04</div>
        </div>
        <div class="image_container">
          <div class="images" [ngStyle]="coordinat">
            @for (item of advantages; track $index) {
              <img class="advantage_img" appSwipe (swipeLeft)="changeCardSwipe(position+1)" (swipeRight)="changeCardSwipe(position-1)" src="{{ item.link }}" alt="">
            }
          </div>
          <button class="article_button" [ngClass]="getClasses()" (click)="goToWeb()">
            <div class="arrow">
              <img class="arrow_img" src="./../../assets/arrow_right.png">
            </div>
            <p class="arrow_text">{{ advantages[position].link_text }}</p>
          </button>
          <div class="control_btns">
            <div class="left_btn" (click)="changeCardSwipe(this.position-1)">
              <div class="left_img"></div>
            </div>
            <div class="right_btn" (click)="changeCardSwipe(this.position+1)">
              <div class="right_img"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about_us_sect">
        <div class="text_ab_us">
            <h3 class="ab_us_tittle">With a wealth of experience in delivering bespoke web development solutions to global enterprises, successful startups, and tech-driven companies worldwide, our team excels in efficiency and expertise. We specialize in crafting innovative web applications that meet unique client needs, ensuring transformative outcomes and lasting partnerships.</h3>
            <h4 class="ab_us_tittle_2">Devmara's customers benefit from many advantages as a result of our cooperation.</h4>
          </div>
    </section>
    <section class="key_stats_section">
      <div class="key_stats_container">
        <div class="stat_container box1">
          <h3 class="stats_tittle">Key Stats</h3>
        </div>
        <div class="stat_container">
          <h3 class="stat_tittle">500+</h3>
          <p class="stat_text">award-winning clients</p>
        </div>
        <div class="stat_container">
          <h3 class="stat_tittle">£12B+</h3>
          <p class="stat_text">in client acquisitions</p>
        </div>
        <div class="stat_container">
          <h3 class="stat_tittle">36</h3>
          <p class="stat_text">month average engagement</p>
        </div>
        <div class="stat_container">
          <h3 class="stat_tittle">20+</h3>
          <p class="stat_text">client IPOs supported</p>
        </div>
        <div class="stat_container">
          <h3 class="stat_tittle">20+</h3>
          <p class="stat_text">years of experience</p>
        </div>
        <div class="stat_container">
          <h3 class="stat_tittle">3k+</h3>
          <p class="stat_text">world-class engineers</p>
        </div>
      </div>
    </section>
  </main>
  