.main {
    position: relative;
    background-color: #EBEBED;
    @media only screen and (min-width: 980px) {
        .advantages {
            position: relative;
            border-bottom: 0.01px solid rgb(200, 200, 200);
            .advantages_wrapper {
                position: relative;
                display: grid;
                padding: 20px;
                grid-template-columns: 1fr 0.5fr;
                grid-template-rows: 0.5fr 1fr;
                .advantages_tittle {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .tittle_620px {
                        position: relative;
                        margin-left: 20px;
                        margin-right: 20px;
                        font-weight: 400;
                        font-size: 50px;
                    }
                }
                .advantages_control_panel {
                    position: relative;
                    display: flex;
                    gap: 10px;
                    height: 100%;
                    justify-content: flex-end;
                    align-items: end;
                    .control_btn_620px {
                        position: relative;
                        border-top: 2px solid black;
                        margin-bottom: 15px;
                    }
                    .article_320px {
                        display: none;
                    }
                    .tittle_320px {
                        display: none;
                    }
                }
                .article_wrapper {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;
                    gap: 30px;
                    .tittle_320px {
                        display: none;
                    }
                    .article_620px {
                        position: relative;
                        font-weight: 300;
                        font-size: 24px;
                        margin-right: 20px;
                    }
                    .article_button_620px {
                        position: relative;
                        width: 150px;
                        height: 45px;
                        border: none;
                        font-weight: 500;
                        font-size: 16px;
                        margin-right: 20px;
                    }
                }
                .advantages_img {
                    position: relative;
                    height: 450px;
                    text-align: center;
                    .advantage_img {
                        position: relative;
                        margin: auto;
                        height: 100%;
                    }
                    .control_btn_320px{
                        display: none;
                    }
                    .article_button_320px {
                        display: none;
                    }
                }
            }
        }
        .key_stats_section {
            position: relative;
            display: flex;
            justify-content: end;
            .key_stats_container {
                width: 80%;

                border-top: 0.01px solid rgb(200, 200, 200);
                border-left: 0.01px solid rgb(200, 200, 200);
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(4, 1fr);
                .box1 {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    .stats_tittle {
                        font-size: 24px;
                        font-weight: 400;
                        color: rgb(91, 0, 91);
                    }
                }
                .stat_container {
                    padding: 10px;
                    .stat_tittle {
                        font-size: 50px;
                        color: rgb(91, 0, 91);
                        font-weight: 300;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 979px) {
        .advantages {
            position: relative;
            border-bottom: 0.01px solid rgb(200, 200, 200);
            .advantages_wrapper {
                position: relative;
                display: grid;
                padding: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 0.5fr auto;
                .advantages_tittle {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .tittle_620px {
                        display: none;
                    }
                }
                .advantages_control_panel {
                    position: relative;
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 10px;
                    height: 100%;
                    justify-content: flex-end;
                    align-items: end;
                    .control_btn_620px {
                        display: none;
                    }
                    .tittle_320px {
                        position: relative;
                        margin-left: 20px;
                        margin-right: 20px;
                        font-weight: 400;
                        font-size: 30px;
                    }
                    .article_320px {
                        position: relative;
                        margin-left: 15px;
                        margin-bottom: 10px;
                        font-weight: 300;
                        font-size: 24px;
                    }
                }
                .article_wrapper {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;
                    gap: 30px;
                    .article_620px {
                        display: none;
                    }
                    .article_button_620px {
                        display: none;
                    }
                }
                .advantages_img {
                    position: relative;
                    text-align: center;
                    .advantage_img {
                        position: relative;
                        margin: auto;
                        height: 150px;
                    }
                    .control_panel_320px {
                        position: relative;
                        display: flex;
                        padding-top: 10px;
                        gap: 10px;
                        .control_btn_320px{
                            position: relative;
                            border-top: 2px solid black;
                            text-align: left;
                        }
                    }
                    .article_button_320px {
                        position: relative;
                        width: 150px;
                        height: 45px;
                        border: none;
                        margin-top: 15px;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }
        }
        .key_stats_section {
            position: relative;
            display: flex;
            justify-content: end;
            .key_stats_container {
                width: 80%;
                border-top: 0.01px solid rgb(200, 200, 200);
                border-left: 0.01px solid rgb(200, 200, 200);
                display: grid;
                grid-gap: 10px;
                .box1 {
                    .stats_tittle {
                        font-size: 24px;
                        font-weight: 400;
                        color: rgb(91, 0, 91);
                    }
                }
                .stat_container {
                    padding: 30px;
                    border-bottom: 0.01px solid rgb(200, 200, 200);
                    .stat_tittle {
                        font-size: 50px;
                        color: rgb(91, 0, 91);
                        font-weight: 300;
                    }
                }
            }
        }
        .control_btn_320px:hover {
            cursor: pointer;
        }
    }
    .about_us_sect {
        position: relative;
        display: flex;
        margin-top: 20px;
        justify-content: flex-end;
        .text_ab_us {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 20px;
            align-items: flex-end;
            border-left: 0.01px solid rgb(200, 200, 200);
            .ab_us_tittle {
                position: relative;
                padding-left: 30px;
                padding-top: 30px;
                font-weight: 400;
                font-size: 24px;
            }
            .ab_us_tittle_2 {
                position: relative;
                padding-left: 30px;
                padding-bottom: 30px;
                font-weight: 300;
                font-size: 18px;
                text-align: right;
            }
        }
    }
}

.orange {
    background: #FF6A47;
    .tittle_620px {
        color: black;
    }
}

.blue {
    background: rgb(73, 73, 255);
    color: white;
    .tittle_620px {
        color: white;
    }
}

.purple {
    background: rgb(255, 0, 255);
    .tittle_620px {
        color: black;
    }
}

.green {
    background: rgb(61, 255, 61);
    .tittle_620px {
        color: black;
    }
}

.active {
    animation: control_btn_ani_plus 0.5s forwards;
}

.non_active {
    animation: control_btn_ani_minus 0.5s forwards;
}

.control_btn_620px:hover {
    cursor: pointer;
}

@keyframes control_btn_ani_plus {
    from {
        width: 30px;
    }

    to {
        width: 100px;
    }
}

@keyframes control_btn_ani_minus {
    from {
        width: 100px;
    }

    to {
        width: 30px;
    }
}

.article_button_320px:hover,
.article_button_620px:hover {
    cursor: pointer;
    color: white;
}